.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

.FaqButton {
    border: 1px solid #ff6c00;
    padding: 1rem;
    border-radius: 17px;
    margin: 10px 10px;
}
.FaqButton summary {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    color: #ff6c00;
    text-transform: capitalize;
    font-weight: 600;
    font-size: large;
}

.FaqButton summary::before{
    content: '➤';
    display: block !important;
    width: 15px;
    height: 15px;
    transition: all 0.5s;
}
.FaqButton[open] summary::before{
    transform: rotate(90deg);
}

