
@media(min-width:780px){
    .AnchorsShelfContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}
@media(max-width:780px){
    .AnchorsShelfContainer {
        display: flex;
        flex-direction: column;
    }
}
.divAnchors {
    display: flex;
    width: 100%;
    justify-content: center;
}
@media(min-width:780px){
    .divAnchors {
        padding-right: .25rem;
        width: 20%;
        max-width: 20%;
    }
}