/* .element :global(.vtex-reviews-and-ratings-3-x-reviewsRatingAverage) {
    display: none
}

.element :global(.vtex-reviews-and-ratings-3-x-reviewsRatingCount) {
    display: none
}

.element :global(.vtex-reviews-and-ratings-3-x-writeReviewContainer) {
    display: none
}

.element :global(.vtex-reviews-and-ratings-3-x-reviewsHeading) {
    display: none
}

.element :global(.vtex-reviews-and-ratings-3-x-reviewsOrderBy) {
    display: none
}

.element :global(.vtex-reviews-and-ratings-3-x-container) {
    margin-left: 0;
    padding-left: 0
} */

.clearLink {
    text-decoration: none;
}

.containerNormal {
    width: 268px
}

@media screen and (max-width:769px) {
    .containerNormal {
        width: 172px !important
    }
}

.container {
    border: 1px solid #D2D1D7;
    border-radius: 16px;
}

@media screen and (max-width:420px) {
    .containerNormal {
        /* width: 195px !important */
        margin-left: -12px;
        width: 159px !important;
    }
}