@media (min-width: 780px) {
    :global(.vtex-account__page) .sliderLeftArrow {
        margin-left: -35px;
    }

    :global(.vtex-account__page) .sliderRightArrow {
        margin-right: -35px;
    }

    .sliderLeftArrow--influenciadores, 
    .sliderRightArrow--influenciadores {
        display: none;
    }

    .sliderLeftArrow--euquero {
        left: auto !important;
        right: 45px;
        top: -80px;
        bottom: auto !important;
        border: 2px solid black;
        height: 30px;
        width: 30px;
        padding: 8px;
        border-radius: 100%;
    }

    .sliderLeftArrow--euquero .caretIcon--euquero {
        height: 12.5px;
        width: auto;
    }

    .sliderRightArrow--euquero {
        left: auto !important;
        right: 0;
        top: -80px;
        bottom: auto !important;
        border: 2px solid black;
        height: 30px;
        width: 30px;
        padding: 8px;
        border-radius: 100%;
    }

    .sliderRightArrow--euquero .caretIcon--euquero {
        height: 12.5px;
        width: auto;
    }

}

.slideChildrenContainer :global(.vtex-add-to-cart-button-0-x-buttonText) {
    font-size: 13px !important;
}

/* .slide :global(.vtex-reviews-and-ratings-3-x-reviewsHeading) {
    display: none;
} */

.slide .slideChildrenContainer--shelf {
    padding: 5px;
    height: 100%;
}

/* .slide :global(.vtex-reviews-and-ratings-3-x-reviewsRatingAverage) {
    display: none;
}

.slide :global(.vtex-reviews-and-ratings-3-x-reviewsRatingCount) {
    display: none;
}

.slide :global(.vtex-reviews-and-ratings-3-x-writeReviewContainer) {
    display: none;
}

.slide :global(.vtex-reviews-and-ratings-3-x-reviewsOrderBy) {
    display: none;
}

.slide .slide :global(.vtex-reviews-and-ratings-3-x-container) {
    margin-left: 0;
    padding-left: 0;
} */

.sliderLayoutContainer--shelf :global(.vtex-product-price-1-x-installments) ,
.sliderLayoutContainer--shelf :global(.vtex-product-price-1-x-installments) :global(.vtex-product-price-1-x-currencyContainer--summary){
    color: #979899;
    font-family: Signika;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sliderTrackContainer--influenciadores {
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.sliderLayoutContainer--influenciadores {
    max-width: 1140px;
    margin: auto;
    margin-bottom: 20px;
}

@media only screen and (max-width: 980px) {
    .sliderLayoutContainer--euquero .swiper-pagination,
    .sliderLayoutContainer--influenciadores .swiper-pagination,
    .sliderLayoutContainer--shelf .swiper-pagination {
        display: flex !important;
    }

    .sliderLayoutContainer--euquero .swiper-pagination-bullet,
    .sliderLayoutContainer--influenciadores .swiper-pagination-bullet,
    .sliderLayoutContainer--shelf .swiper-pagination-bullet {
        background-color: #D1D5DB;
    }

    .sliderLayoutContainer--euquero .swiper-pagination-bullet-active,
    .sliderLayoutContainer--influenciadores .swiper-pagination-bullet-active,
    .sliderLayoutContainer--shelf .swiper-pagination-bullet-active {
        background-color: #009FC2;
        width: 10px;
        height: 10px;
    }
}

@media only screen and (min-width: 640px) {
    .sliderLayoutContainer--carrousel-euquero-mobile {
        display: none;
    }

    .sliderLayoutContainer--carrousel-mosaico-mobile {
        display: none;
    }

    .sliderLayoutContainer--carrousel-mobile {
        display: none;
    }
}

@media only screen and (max-width: 980px) {
    .slide--shelf :global(.vtex-add-to-cart-button-0-x-buttonText) {
        opacity: 1 !important;
    }

    .sliderLeftArrow {
        display: none;
    }

    .sliderRightArrow {
        display: none;
    }

    .sliderLayoutContainer--shelf {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    .sliderLayoutContainer--carrousel-mosaico-mobile .slideChildrenContainer--carrousel-mosaico-mobile :global(.vtex-store-components-3-x-imageElement) {
        width: 100%;
        height: 260px;
        max-width: 350px !important;
        padding-bottom: 15px;
        padding: 20px;
        border-radius: 32px;
    }

    .sliderLayoutContainer--carrousel-euquero-mobile :global(.vtex-store-components-3-x-imageElement) {
        width: 100%;
        padding-bottom: 15px;
        padding: 20px;
    }

    .sliderTrackContainer {
        padding-bottom: 20px;
    }

    .slide--carrousel-mobile--firstVisible :global(.vtex-rich-text-0-x-heading-level-3) {
        font-size: 15px;
        padding-top: 0;
        margin-bottom: 0;
        font-family: Signika;
        color: #009FC2;
    }
}

.sliderLayoutContainer--shelf :global(.vtex-product-price-1-x-sellingPrice),
.sliderLayoutContainer--shelf :global(.vtex-product-price-1-x-sellingPrice) :global(.vtex-product-price-1-x-currencyContainer--summary) {
    color: #009966;
    font-family: Signika;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
}

.slideChildrenContainer--sameHeight {
    height: 100% !important;
}

.slide .slideChildrenContainer--sameHeight {
    height: 100% !important;
}

.sliderTrack {
    padding-bottom: 15px;
}

.caretIcon {
    color: #6F6F6F
}

.caretIcon--euquero {
    color: #000;
}

