.productHighlightWrapper--collection{position:absolute;top:13px;left:-6px;width:200px}.productHighlightText{background:#faebd7;border-radius:20px;padding:5px 10px}

@media screen and (max-width:768px){.productHighlightWrapper--collection{top: -10px; left: 1px;}}