.container--deals {
  color: #fff;
  text-align: center;
  justify-content: center;
}
.container--shelfTitle,
.container--eu-quero-title {
  color: #727273;
  justify-content: center;
  text-align: center;
  padding: 0 10px;
}
.wrapper--shelfTitle,
.wrapper--eu-quero-title {
  border-bottom: 1px solid #ff6c00 !important;
  max-width: 1140px !important;
  margin-bottom: 25px !important;
  text-align: left;
  width: 100%;
  border-bottom: 3px dotted #777;
  display: flex;
  align-items: center;
  row-gap: 8px;
}
.wrapper--eu-quero-title {
  flex-wrap: wrap;
  margin: 35px auto 25px;
}
.wrapper--faq-title::before,
.wrapper--shelfTitle::before,
.wrapper--eu-quero-title::before {
  content: '';
  width: 38px;
  height: 24px;
  display: block;
  background-image: url(/arquivos/biostevi-title-logo.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  margin-right: 10px;
  margin-top: -10px;
}
.headingLevel1--shelfTitle {
  color: #555;
  text-transform: uppercase;
  margin-bottom: 5px !important;
  font-size: 20px !important;
  font-weight: 700 !important;
  margin-top: 30px;
}
.headingLevel2--faq-title,
.headingLevel2--shelfTitle,
.headingLevel2--eu-quero-title {
  text-transform: uppercase;
  margin-bottom: 5px;
  color: #000;
  font-family: Signika;
  font-size: 20px;
  font-style: normal;
  font-weight: 600 !important;
  line-height: normal;
}
.headingLevel2--eu-quero-title {
  flex-grow: 1;
}
.paragraph--shelfTitle {
  font-family: Signika;
  color: #666666;
  text-transform: uppercase;
  margin-bottom: 5px !important;
  font-weight: 700 !important;
  margin-bottom: 15px;
  margin-top: 30px;
  font-size: 18px;
}
.paragraph--eu-quero-title {
  font-family: Signika;
  width: 100%;
  color: #666666;
  font-size: 18px;
  margin-top: 0;
}
@media only screen and (max-width: 980px) {
  .wrapper--shelfTitle {
    margin-top: 30px;
  }
  .headingLevel2--faq-title,
  .headingLevel2--shelfTitle,
  .headingLevel2--eu-quero-title {
    font-size: 16px;
  }
  .paragraph--shelfTitle,
  .paragraph--eu-quero-title {
    font-size: 16px;
  }
}
.container--deals .paragraph {
  margin: 0;
}
.container--link {
  justify-content: center;
}
.container--question {
  justify-content: center;
}
.container--Informacoes-Imp,
.wrapper--Informacoes-Imp {
  margin: 0 !important;
}
.paragraph--Informacoes-Imp {
  color: #555 !important;
  font-style: 17px;
}
.container--question .paragraph {
  text-align: center;
  max-width: 540px;
  margin: 0 16px;
  padding-top: 120px;
  color: #03034e;
}
.container--question .strong {
  font-size: 32px;
  line-height: 2rem;
  font-weight: 700;
}
.container--link .paragraph {
  text-align: center;
  max-width: 540px;
  padding-top: 36px;
  padding-bottom: 84px;
  color: #03034e;
}
.container--link .strong {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.container--link .link {
  text-decoration: none;
  font-size: 36px;
  font-weight: 300;
  color: #03034e;
}
.container--title {
  color: #03034e;
  font-size: 28px;
  font-weight: 700;
}
.strong--informativo-whats {
  font-size: 14px;
  font-weight: 700;
  color: #000;
}
.headingLevel3--informativo-desconto-progressivo {
  white-space: nowrap;
}
.container--informativo-whats {
  width: fit-content !important;
  justify-content: start !important;
  height: fit-content !important;
  margin-left: -50px;
}
.paragraph--SecTitle {
  display: block;
  color: #555 !important;
  font-size: 19px !important;
  font-weight: 600 !important;
  cursor: default;
  padding-bottom: 0 !important;
  margin-bottom: 5px;
}
.paragraph--developers-text {
  margin: 0;
}
@media only screen and (min-width: 640px) {
  .container--question .strong {
    font-size: 40px;
    line-height: 3rem;
  }
  .container--about {
    max-width: 85%;
  }
  .container--title {
    color: #03034e;
    font-size: 40px;
    font-weight: 700;
    max-width: 60%;
  }
  .container--title .paragraph {
    line-height: 1.3em;
  }
}
@media screen and (max-width: 768px) {
  .wrapper--SecTitle {
    width: 100%;
  }
  .paragraph--mobile-menu-welcome {
    max-height: 20px;
  }
  .paragraph--mobile-menu-welcome,.paragraph--mobile-menu-login {
    margin: 0;
  }
  .link--mobile-menu-welcome {
    font-family: "Signika";
    font-weight: 400;
    font-size: 12px;
    line-height: 14.78px;
    color: #000;
    text-decoration: none;
  }
  .link--mobile-menu-login {
    font-family: "Signika";
    font-weight: 400;
    font-size: 16px;
    line-height: 19.71px;
    color: #000;
    text-decoration: none;
  }
  .container--mobile-menu-welcome {
    margin-top: -4px;
  }
}
.wrapper--faq-question .paragraph {
  margin: 0;
  font-weight: 700;
}
.wrapper--whatsapp-text .strong {
  margin-top: 60px;
  display: block;
}
.container--faq-title {
  padding: 0 !important;
}
.link--informativo-whats {
  text-decoration: none;
  color: #949494;
}
.link--informativo-whats .strong {
  color: #000;
}
.wrapper--bloco-title-home-h1 .headingLevel1{
  font-size: 28px;
  color:#000;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 0;
  text-transform: uppercase;
}
.wrapper--bloco-title-home-text .paragraph{
  font-size: 16px;
  color:#6f6f6f;
  font-weight: 400;
}

@media only screen and (max-width: 768px) {
  .wrapper--bloco-title-home-h1{
    padding-inline: 15px;
  }
  .wrapper--bloco-title-home-text{
    padding-inline: 15px;
  }
}