.flexRowContent--main-header,
.flexRowContent--menu-link {
  padding: 0 0.5rem;
}
@media screen and (min-width: 40em) {
  .flexRowContent--main-header,
  .flexRowContent--menu-link {
    padding: 0 1rem;
  }
}
@media screen and (min-width: 80rem) {
  .flexRowContent--main-header,
  .flexRowContent--menu-link {
    padding: 0 0.25rem;
  }
}
.flexRowContent--menu-link {
  background-color: #03044e;
  color: #fff;
}
.flexRowContent--main-header {
  background-color: #f0f0f0;
}
.flexRowContent--main-header-mobile {
  align-items: center;
  padding: 0.625rem 0.5rem;
  background-color: #009fc2 !important;
  padding-top: 5px;
}
.flexRowContent--menu-link :global(.vtex-menu-2-x-styledLink) {
  color: #fff;
  font-size: 14px;
}
.flexRowContent--main-header :global(.vtex-menu-2-x-styledLink) {
  color: #727273;
  font-size: 14px;
}
.flexRow--hintup-skeleton {
  height: 30px;
  background-color: #77c4d033;
}
@media screen and (max-width: 768px) {
  .flexRow--hintup-skeleton {
    height: 46px;
  }
}
.flexRow--deals {
  background-color: #a7afbd;
  padding: 14px 0;
}
.flexRow--deals .stretchChildrenWidth {
  align-items: center;
}
.flexRow--deals .flexCol {
  align-items: center;
}
.flexRow--shelf-prateleira-lancamentos {
  min-height: 440px;
}
.flexCol--filterCol {
  max-width: 500px;
  min-width: 230px;
}
.flexCol--productCountCol {
  align-items: flex-start;
}
.flexCol--orderByCol {
  align-items: flex-end;
}
.flexCol--orderByMobileCol {
  width: 42%;
}
.flexCol--filterMobileCol {
  width: 38%;
}
.flexCol--switcherMobileCol {
  width: 20%;
}
.flexRow--quickviewMainRow {
  display: flex;
  max-height: 100%;
}
.flexColChild--quickviewDetails:first-child {
  overflow-y: auto;
  height: 66% !important;
  overflow-x: hidden;
}
.flexColChild--quickviewDetails:last-child {
  height: 34% !important;
}
.flexRow--addToCartRow {
  padding-bottom: 1rem;
}
.flexRowContent--bloco-home-informativos .stretchChildrenWidth {
  align-items: flex-start;
  justify-content: center;
}
.flexColChild--login-menu-retratil
  :global(.vtex-store-components-3-x-imageElementLink)
  :global(.vtex-store-components-3-x-imageElement) {
  min-width: 35px;
}
.flexRowContent--SecurityFooter {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 15px;
}
.flexRowContent--SecurityFooter .stretchChildrenWidth {
  width: auto !important;
  padding-top: 5px;
}
.flexRowContent--SecImages {
  gap: 20px;
}
.flexRow--menu-link :global(.vtex-menu-2-x-menuContainerNav) .flexCol {
  min-width: 187px;
  min-height: 76.59px;
}
.flexRowContent--footer-aling-center-devs {
  justify-content: center;
  gap: 10px;
  align-items: center;
  padding-top: 38px;
}
.flexRowContent--pdp-review-wishlist {
  align-items: center !important;
  min-height: 35px;
}
@media (max-width: 768px) {
  .flexRow--bloco-home-informativos {
    display: none;
  }
  .flexRowContent--SecImages {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px !important;
  }
  .flexRowContent--SecurityFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .flexRowContent--header-mobile-left, .flexRowContent--header-mobile-right {
    display: flex;
    gap: 10px;
  }
  .flexCol--mobile-menu-message {
    margin-top: 28px;
  }
}
.flexRow--shelf-mais-vendidos,
.flexRow--shelf-ofertas {
  margin-bottom: 30px;
}

.flexColChild--productSummaryPrices {
  position: static!important;
}
