.outline {
    background-size: 100%
}

.wishlistIconContainer {
    top: 10px;
    right: 10px;
    position: absolute
}

:global(.vtex-flex-layout-0-x-flexRow--product-main) .wishlistIconContainer {
    position: initial
}

:global(.vtex-search-result-3-x-galleryItem) .wishlistIconContainer {
    top: 16px;
    left: 28px
}

@media (max-width:768px) {
    .wishlistIconContainer {
        position: initial
    }
}