.box {
  width: fit-content;
  left: -17px;
}
.container :global(.vtex-button) :global(.vtex-button__label) .label,
.container .profile {
  background-repeat: no-repeat;
  padding-top: 40px;
  padding-bottom: 0px !important;
  padding-inline: 0.75rem !important;
  background-size: 36px;
  font-family: Signika;
  background-image: url(/arquivos/new-profile-icon-header.svg) !important;
  background-position: top center !important;
  margin-bottom: 0;
  width: 70px;
  margin-inline: -4px 0;
  font-size: 13px;
  color: #fff;
  text-transform: capitalize !important;
}
/* .container :global(.vtex-button__label) .label,
.profile {
  padding-top: 38px;
  font-size: 13px !important;
  color: #fff !important;
  font-weight: 400 !important;
  text-transform: capitalize !important;
  padding-inline: 0.75rem!important;
  font-family: Signika;
  margin-left: 4px;
} */
.accountOptions .button {
  padding-left: 0;
  color: inherit;
}
.accountOptions .button:hover {
  color: inherit;
}
.contentContainer {
  max-width: 323px;
  margin-left: -190px;
}
.contentForm,
.options {
  min-width: initial;
  width: 100%;
}
.button :global(.vtex-button) {
  border: none;
  border-radius: 25px;
  background-color: #009fc2;
  color: #fff;
  text-transform: initial;
}
.box,
.content,
.contentContainer,
.contentInitialScreen {
  border-radius: 15px !important;
}
.sendButton :global(.vtex-button) {
  background-color: #009fc2;
}
.formTitle {
  text-wrap: nowrap;
  padding: 0;
}
.arrowBackIcon {
  filter: invert(65%) sepia(77%) saturate(6107%) hue-rotate(162deg)
    brightness(96%) contrast(103%);
}
.profile {
  width: 70px;
  margin: 0 30px 0 18px;
  text-wrap: wrap;
  overflow: visible;
}
@media screen and (max-width: 768px) {
  .container :global(.vtex-button) :global(.vtex-button__label) .label,
  .container .profile {
    display: block;
    margin: 0;
    padding: 32px 10px 0!important;
    font-size: 0px !important;
    background-size: 32px;
    width: 32px;
    background-image: url(/arquivos/new-profile-icon-header.svg) !important;
    background-repeat: no-repeat;
    background-position: center;
    font-family: "Signika";
    padding-inline: 10px;
  }
  :global(.vtex-flex-layout-0-x-flexRowContent--main-header-mobile) .container {
    display: flex !important;
  }
  :global(.vtex-flex-layout-0-x-flexRow--topomenuretratil) .container :global(.vtex-button) :global(.vtex-button__label) .label {
    font-size: 0  !important;
    margin-left: 0;
  }

  :global(.vtex-flex-layout-0-x-flexRow--topomenuretratil) .container :global(.vtex-button) :global(.vtex-button__label) .label, .profile {
    background-image: url(/arquivos/mobile-drawer-user-1.svg) !important;
    color: #000 !important;
    margin-left: -15px !important;
  }

  :global(.vtex-flex-layout-0-x-flexRow--topomenuretratil) .container :global(.vtex-button) :global(.vtex-button__label) .profile {
    width: auto;
    margin-right: 30px;
  }

  :global(.vtex-flex-layout-0-x-flexRow--topomenuretratil) .buttonLink {
    margin-top: 30px;
    margin-right: 7px;
  }
}

