.productHighlightWrapper--collection{position:absolute;top:10px;left:5px;width:200px}.productHighlightText{background:#faebd7;border-radius:20px;padding:5px 10px}

@media screen and (max-width:768px){.productHighlightWrapper--collection{top: -5px; left: 1px;}}