.box {
    width: fit-content;
    left: -17px;
}

.container :global(.vtex-button) :global(.vtex-button__label) .label, .profile {
    background-image: url(https://stevia.vteximg.com.br/arquivos/login.png);
    background-repeat: no-repeat;
    background-position: top center;
    padding-top: 40px;
    font-size: 13px !important;
    color: #fff !important;
    font-weight: normal !important;
    background-size: 33px;
    text-transform: capitalize !important;
    padding-left: 0;
    margin: 0 43px 0 35px;
}

.accountOptions .button {
    padding-left: 0;
    color: inherit;
}

.accountOptions .button:hover {
    color: inherit;
}

.contentContainer {
    max-width: 323px;
    margin-left: -190px;
}

.options, .contentForm {
    min-width: initial;
    width: 100%;
}

.button :global(.vtex-button) {
    border: none;
    border-radius: 25px;
    background-color: #009fc2;
    color: #fff;
    text-transform: initial;
}

.contentContainer, .content, .contentInitialScreen, .box  {
    border-radius: 15px !important;
}

.sendButton :global(.vtex-button) {
    background-color: #009fc2;
}

.formTitle {
    text-wrap: nowrap;
    padding: 0;
}

.arrowBackIcon {
    filter: invert(65%) sepia(77%) saturate(6107%) hue-rotate(162deg) brightness(96%) contrast(103%);
}

.profile {
    width: 70px;
    margin: 0 30px 0 18px;
}

@media screen and (max-width: 768px) {
    .container :global(.vtex-button) :global(.vtex-button__label) .label {
        margin: 0px -8px 0 13px;
    }

    .container :global(.vtex-button) :global(.vtex-button__label) .label, .profile {
        display: block;
        padding-top: 33px;
        font-size: 7px !important;
        background-size: 27px;
        width: 32px;
    }

    .container :global(.vtex-button) :global(.vtex-button__label) .profile {
        margin: 2px -11px 0 3px;
        text-wrap: wrap;
    }

    :global(.vtex-flex-layout-0-x-flexRowContent--main-header-mobile) .container {
        display: none;
    }
}