.outline {
    background-size: 100%
}

.wishlistIconContainer {
    top: 10px;
    right: 10px;
    position: absolute
}

:global(.vtex-flex-layout-0-x-flexRow--product-main) .wishlistIconContainer {
    position: initial
}

@media (max-width:768px) {
    .wishlistIconContainer {
        position: absolute!important;
    }

    :global(.vtex-flex-layout-0-x-flexRow--product-main) .wishlistIconContainer {
        position: initial!important;
    }
}