:global(.vtex-DescriptionContructor--wrapper) {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1140px !important;
    padding: 1rem !important;
}

:global(.vtex-DescriptionContructor--wrapper h2),
:global(.vtex-DescriptionContructor--wrapper h3),
:global(.vtex-DescriptionContructor--wrapper h4),
:global(.vtex-DescriptionContructor--wrapper h5),
:global(.vtex-DescriptionContructor--wrapper h6) {
    font-family: 'Signika';
}
:global(.vtex-DescriptionContructor--wrapper h2) {
    text-transform: uppercase;
    text-align: left;
}

:global(.vtex-DescriptionContructor--wrapper p) {
    font-size: 14px;
}

:global(.vtex-DescriptionContructor--desc-box) {
    color: #555555;
    line-height: 24px;
    margin: 0 auto;
    white-space: break-spaces;
}

:global(.vtex-DescriptionContructor--desc-box .vtex-FaqComponent--wrapper) {
    margin-bottom: 0px !important;
}

:global(.vtex-DescriptionContructor--desc-box iframe) {
    margin-bottom: 50px;
}

:global(.vtex-DescriptionContructor--wrapper > div > h2) {
    color: #009fc2 !important;
    font-size: 26px;
    font-weight: normal !important;
    line-height: 32px;
    font-family: 'Signika';
}
:global(.vtex-DescriptionContructor--block > div > h2) {
    margin-bottom: 0 !important;
}

:global(html) {
    scroll-padding-top: 60px;
}

:global(.vtex-DescriptionContructor--block) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    width: 100%;
}



:global(.vtex-DescriptionContructor--block .TemLink) {
    display: block !important;
}

:global(.vtex-DescriptionContructor--block > div) {
    margin: 0px 0px;
    gap: 15px;
    width: 100%;
}

:global(.vtex-DescriptionContructor--block div > div) {
    margin: 0px !important;
}

:global(.vtex-DescriptionContructor--block div > div),
:global(.vtex-DescriptionContructor--block p) {
    margin: 7.5px 0;
    color: #555555;
    line-height: 24px;
    white-space: break-spaces;
    flex-direction: row;
    padding-top: 0px !important;
}
:global(.vtex-DescriptionContructor--block #InformaImp div) {
    margin: 0!important;
}
:global(.vtex-DescriptionContructor--block:has(#Advertencia) strong) {
    line-height: 33px;
}

:global(.vtex-DescriptionContructor--block div > h2),
:global(.vtex-DescriptionContructor--block .vtex-DescriptionContructor--default-data h2) {
    color: #009fc2 !important;
    font-size: 1.25rem;
    line-height: 1.5;
    font-weight: 600;
    text-align: start;
    width: 100%;
    margin-bottom: 12px;
    padding-left: 0px !important;
}

:global(.vtex-DescriptionContructor--block p .descricao-pdp-dir) {
    color: #555555;
    line-height: 24px;
    padding: 1rem;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    max-height: 370px;
    overflow-y: scroll;
}

:global(.vtex-DescriptionContructor--block p .descricao-pdp-dir h2) {
    color: #009fc2 !important;
    font-size: 26px;
    font-weight: normal !important;
    width: 100%;
    text-align: left;
    margin: 0px !important;
    margin-top: 10px !important;
}

:global(.vtex-DescriptionContructor--block p .descricao-pdp-dir h3) {
    direction: ltr;
    margin: 2px 0px;
    margin-top: 15px;
}

:global(.vtex-DescriptionContructor--block p .descricao-pdp-esq h3) {
    direction: ltr;
}

:global(.vtex-DescriptionContructor--block .descricao-pdp-dir .vtex-DescriptionContructor--block:nth-child(odd) div:not(.descricao-pdp-esq)) {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

:global(.vtex-DescriptionContructor--block:nth-child(even) div:not()) {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

:global(.vtex-DescriptionContructor--block p .descricao-pdp-esq) {
    float: left;
    max-width: 708px;
    padding-right: 15px;
    text-align: left;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

:global(.vtex-DescriptionContructor--block p .descricao-pdp-dir) {
    float: right;
    max-width: 708px;
    text-align: left;
}

:global(.vtex-DescriptionContructor--block table) {
    width: 100%;
}

:global(.descricao-pdp-esq),
:global(.descricao-pdp-dir) {
    margin: 0px 0px !important;
}

:global(.HorizontalBanner) {
    flex-direction: column;
}

:global(.vtex-DescriptionContructor--default-data) {
    margin: 10px 0px;
}

:global(.vtex-DescriptionContructor--default-data span),
:global(.vtex-DescriptionContructor--wrapper > div > p),
:global(.descricao-pdp-full p) {
    width: 100%;
    color: #555;
    font-weight: normal;
    line-height: 1.5rem!important;
    white-space: break-spaces;
}
:global(.vtex-DescriptionContructor--default-data span) {
    padding-top: 15px;
}

:global(.vtex-DescriptionContructor--default-data) {
    justify-content: flex-start;
}

:global(.TableHeader) {
    width: 100%;
}

:global(.vtex-DescriptionContructor--table-row) {
    display: grid;
    grid-template-columns: 4fr 1fr 4fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: ". . .";
}

:global(.vtex-DescriptionContructor--table-row td div) {
    text-align: start;
    justify-content: center !important;
    align-items: center !important;
    display: flex;
    flex-direction: column;
}

:global(.vtex-DescriptionContructor--table-center) {
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}

:global(.vtex-DescriptionContructor--table-row td) {
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

:global(.vtex-DescriptionContructor--table-row td img),
:global(img[src*="wdt-check.png"]) {
    min-width: 100px;
    max-width: 100px;
}

:global(.vtex-DescriptionContructor--table-row td div h3) {
    color: #009fc2;
}

:global(.descricao-pdp-esq h2),
:global(.descricao-pdp-full-check h2) {
    color: #009fc2 !important;
    font-size: 26px;
    font-weight: normal !important;
    text-align: start;
    width: 100%;
}

:global(.descricao-pdp-full-check h2) {
    text-align: center;
}

:global(.descricao-pdp-esq),
:global(.descricao-pdp-full-check) {
    color: #555555;
    line-height: 24px;
    margin-top: 30px;
}

:global(.vtex-DescriptionContructor--table-row td div h3),
:global(.vtex-DescriptionContructor--table-row td div p) {
    margin: 0px 0;
    padding: 0;
    font-size: unset;
}

:global(p.vtex-DescriptionContructor--mobile) {
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}

:global(iframe) {
    margin: auto;
    display: block;
    border-radius: 25px;
}



:global(.vtex-DescriptionContructor--table-row td div p) {
    width: 100%;
    text-align: center;
    font-size: unset;
    padding-top: 0px !important;
}

:global(.vtex-DescriptionContructor--table-row td div h3) {
    text-align: center;
    font-size: unset;
}

:global(.descricao-pdp-full-check h4) {
    color: #009fc2;
}

:global(.Descricao--Inline) {
    text-decoration: none;
    color: #545454;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    font-size: 0.875rem;
    line-height: 1.25rem;
}
:global(.Descricao--Inline p) {
    margin: 0px;
}
:global(.descricao-pdp-full > img) {
    border-radius: 20px;
}
@media screen and (max-width: 768px) {
    :global(.BuyTogether__Container__Row__Desc h3) {
        font-size: 13px;
        text-align: center;
    }

    :global(.BuyTogether__Container:nth-child(odd)) {
        margin-right: 0px !important;
    }

    :global(.BuyTogether__Container__Row__Buy > p) {
        font-size: 32px !important;
    }

    :global(.BuyTogether__Container__BuyButton) {
        font-size: 12px !important;
    }

    :global(.vtex-DescriptionContructor--wrapper iframe) {
        margin: 25px auto;
        width: 100%;
        height: 52vw;
    }

    :global(.BuyTogether__Container__Row__Container) {
        flex-direction: column !important;
    }

    :global(.BuyTogether__Container__Row__Buy) {
        flex-direction: column !important;
    }

    :global(.vtex-DescriptionContructor--block p .descricao-pdp-dir) {
        float: right;
        max-width: 708px;
        padding-right: unset !important;
        padding: unset !important;
        text-align: left;
    }
    :global(.vtex-DescriptionContructor--block) {
        flex-direction: column-reverse;
    }
    :global(.vtex-DescriptionContructor--block:nth-child(odd)) {
        flex-direction: column;
    }

    :global(.vtex-DescriptionContructor--block img) {
        width: 263px !important;
        margin: 0px;
        max-width: unset !important;
    }
    :global(.vtex-DescriptionContructor--table-row td img) {
        width: 100px !important;
        margin: 0px;
        max-width: 100px;
    }
    :global(.HorizontalBanner img) {
        width: 100% !important;
    }
    :global(.vtex-DescriptionContructor--table-row td div h3) {
        font-size: 12px;
    }
    :global(.vtex-DescriptionContructor--table-row td) {
        height: 313px !important;
    }
    
    :global(.vtex-DescriptionContructor--table-row td div p) {
        font-size: 14px;
        line-height: 14px;
    }
    :global(.vtex-DescriptionContructor--default-block) {
        align-items: flex-start;
    }

    :global(.vtex-DescriptionContructor--mobile) {
        overflow: visible !important;
        height: fit-content !important;
        max-height: unset !important;
    }
    :global(.vtex-DescriptionContructor--block:nth-child(even) .vtex-DescriptionContructor--mobile) {
        flex-direction: column-reverse;
    }
    :global(.vtex-DescriptionContructor--block:nth-child(odd) .vtex-DescriptionContructor--mobile) {
        flex-direction: column;
    }
    :global(.vtex-DescriptionContructor--block .vtex-DescriptionContructor--mobile .descricao-pdp-full) {
        flex-direction: column-reverse;
    }
    :global(.descricao-pdp-full-check) {
        margin-top: 0px;
    }
    :global(.descricao-pdp-full-check img) {
        margin-top: 0px !important;
    }
}

:global(.vtex-DescriptionContructor--mobile > img) {
    border-radius: 20px;
}
:global(.vtex-DescriptionContructor--table-row td div p) {
    overflow: visible;
}
:global(.vtex-DescriptionContructor--block .linha4) {
    display: block !important;
}
