.CustomDescData {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1140px !important;
    padding: 1rem !important;
}

.CustomDescData > div > h2 {
    color: #009fc2 !important;
    font-size: 26px;
    font-weight: normal !important;
    line-height: 32px;
}
.BlockStyle > div > h2 {
    margin-bottom: 0 !important;
}

html {
    scroll-padding-top: 60px;
}

.BlockStyle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    width: 100%;
}

.BlockStyle .TemLink {
    display: block !important;
}
.BlockStyle div {
    margin: 0px 30px;
}
.BlockStyle > div {
    margin: 0px 0px;
    gap: 15px;
}

.BlockStyle div > div,
.BlockStyle p {
    margin: 7.5px 0!important;
    color: #555555;
    line-height: 24px;
    white-space: break-spaces;
    flex-direction: row;
    padding-top: 0px !important;
}
.BlockStyle #InformaImp div {
    margin: 0!important;
}
.BlockStyle:has(#Advertencia) strong {
    line-height: 33px;
}

.BlockStyle div > h2,
.BlockStyle .Default-Data h2 {
    color: #009fc2 !important;
    font-size: 26px;
    font-weight: normal !important;
    text-align: start;
    width: 100%;
    line-height: 32px;
    margin-bottom: 12px !important;
    padding-left: 0px !important;
}

/* .BlockStyle p .descricao-pdp-esq {
    float: left;
    max-width: 708px;
    padding-right: 15px;
    text-align: left;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;

} */
.descricao-pdp-esq,
.descricao-pdp-dir {
    margin: 0px 0px !important;
}

.BlockStyle .descricao-pdp-dir .BlockStyle:nth-child(odd) div:not(.descricao-pdp-esq) {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.BlockStyle:nth-child(even) div:not() {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.HorizontalBanner {
    flex-direction: column;
}

.Default-Data {
    margin: 10px 0px;
}

.Default-Data span,
.CustomDescData > div > p,
.descricao-pdp-full p {
    width: 100%;
    color: #555;
    font-size: 16px !important;
    font-family: Helvetica;
    font-weight: normal;
    line-height: 1.5rem!important;
    white-space: break-spaces;
}
.Default-Data span {
    padding-top: 15px;
}

.Default-Data {
    justify-content: flex-start;
}

.BlockStyle table {
    width: 100%;
}

.TableHeader {
    width: 100%;
}

.TableContentBox {
    display: grid;
    grid-template-columns: 4fr 1fr 4fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: ". . .";
}

.TableContentBox td div {
    text-align: start;
    justify-content: center !important;
    align-items: center !important;
    display: flex;
    flex-direction: column;
}

.tableCenter {
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}

.TableContentBox td {
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.TableContentBox td img {
    min-width: 100px;
    max-width: 100px;
}

.TableContentBox td div h3 {
    color: #009fc2;
}

.DescBox h2 {
    color: #009fc2 !important;
    font-size: 26px;
    font-weight: normal !important;
    text-align: start;
    width: 100%;
}

.descricao-pdp-esq h2,
.descricao-pdp-full-check h2 {
    color: #009fc2 !important;
    font-size: 26px;
    font-weight: normal !important;
    text-align: start;
    width: 100%;
}

.descricao-pdp-full-check h2 {
    text-align: center;
}

.descricao-pdp-esq,
.descricao-pdp-full-check {
    color: #555555;
    line-height: 24px;
    margin-top: 30px;
}

.TableContentBox td div h3,
.TableContentBox td div p {
    margin: 0px 0;
    padding: 0;
    font-size: unset;
}

.BlockStyle p .descricao-pdp-dir {
    color: #555555;
    line-height: 24px;
    padding: 1rem;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    max-height: 370px;
    overflow-y: scroll;
}

.BlockStyle p .descricao-pdp-dir h2 {
    color: #009fc2 !important;
    font-size: 26px;
    font-weight: normal !important;
    width: 100%;
    text-align: left;
    margin: 0px !important;
    margin-top: 10px !important;
}

.BlockStyle p .descricao-pdp-dir h3 {
    direction: ltr;
    margin: 2px 0px;
    margin-top: 15px;
}

.BlockStyle p .descricao-pdp-esq h3 {
    direction: ltr;
}

.DescBox {
    color: #555555;
    line-height: 24px;
    margin: 0 auto;
    white-space: break-spaces;
}

p.MobileStyle {
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}

iframe {
    margin: auto;
    display: block;
    border-radius: 25px;
}

.BlockStyle p .descricao-pdp-dir {
    float: right;
    max-width: 708px;
    text-align: left;
}

.TableContentBox td div p {
    width: 100%;
    text-align: center;
    font-size: unset;
    padding-top: 0px !important;
}

.TableContentBox td div h3 {
    text-align: center;
    font-size: unset;
}

.descricao-pdp-full-check h4 {
    color: #009fc2;
}

.Descricao--Inline {
    text-decoration: none;
    color: #545454;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    font-size: 0.875rem;
    line-height: 1.25rem;
}
.Descricao--Inline p {
    margin: 0px;
}
.descricao-pdp-full > img {
    border-radius: 20px;
}
@media screen and (max-width: 768px) {
    .BuyTogether__Container__Row__Desc h3 {
        font-size: 13px;
        text-align: center;
    }

    .BuyTogether__Container:nth-child(odd) {
        margin-right: 0px !important;
    }

    .BuyTogether__Container__Row__Buy > p {
        font-size: 32px !important;
    }

    .BuyTogether__Container__BuyButton {
        font-size: 12px !important;
    }

    .CustomDescData iframe {
        margin: 25px auto;
        width: 100%;
        height: 52vw;
    }

    .BuyTogether__Container__Row__Container {
        flex-direction: column !important;
    }

    .BuyTogether__Container__Row__Buy {
        flex-direction: column !important;
    }

    .BlockStyle p .descricao-pdp-dir {
        float: right;
        max-width: 708px;
        padding-right: unset !important;
        padding: unset !important;
        text-align: left;
    }
    .BlockStyle {
        flex-direction: column-reverse;
    }
    .BlockStyle:nth-child(odd) {
        flex-direction: column;
    }

    .BlockStyle img {
        width: 263px !important;
        margin: 0px;
        max-width: unset !important;
    }
    .TableContentBox td img {
        width: 100px !important;
        margin: 0px;
        max-width: 100px;
    }
    .HorizontalBanner img {
        width: 100% !important;
    }
    .TableContentBox td div h3 {
        font-size: 12px;
    }
    .TableContentBox td {
        height: 313px !important;
    }
    .BlockStyle div {
        margin: 0px !important;
        max-height: unset;
        overflow: unset;
    }
    .TableContentBox td div p {
        font-size: 14px;
        line-height: 14px;
    }
    .Default-prop {
        align-items: flex-start;
    }

    .MobileStyle {
        overflow: visible !important;
        height: fit-content !important;
        max-height: unset !important;
    }
    .BlockStyle:nth-child(even) .MobileStyle {
        flex-direction: column-reverse;
    }
    .BlockStyle:nth-child(odd) .MobileStyle {
        flex-direction: column;
    }
    .BlockStyle .MobileStyle .descricao-pdp-full {
        flex-direction: column-reverse;
    }
    .descricao-pdp-full-check {
        margin-top: 0px;
    }
    .descricao-pdp-full-check img {
        margin-top: 0px !important;
    }
}

.MobileStyle > img {
    border-radius: 20px;
}
.TableContentBox td div p {
    overflow: visible;
}
.BlockStyle .linha4 {
    display: block !important;
}

.DescBox iframe {
    margin-bottom: 50px;
}
