.CustomDescData {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1140px !important;
    padding: 1rem !important;
}

.CustomDescData>div>h2 {
    color: #009fc2 !important;
    font-size: 26px;
    font-weight: normal !important;
    padding: 0 1rem !important;
}
.BlockStyle>div>h2 {
    margin-bottom: 0 !important;
}
.CustomDescData>div>p {
    color: #555;
    font-size: 17px !important;
    font-family: Helvetica;
    font-weight: normal;
    margin-top: 10px;
}

html {
    scroll-padding-top: 60px;
}


.BlockStyle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.BlockStyle div>p {
    display: flex;
    flex-direction: row;
    margin-top: 0px !important;
    padding-top: 0px !important;
}
.BlockStyle div{
    margin: 0px 30px;
}
.BlockStyle div>p{
    margin: 15px 0px;
    max-height: 420px;
    overflow: scroll;
}
.BlockStyle div>p{
    color: #727273;
    line-height: 24px;
    /* padding: 1rem 0px !important; */
    margin-top: 30px;
    white-space: break-spaces;
}
.BlockStyle div>h2 {

    color: #009fc2 !important;
    font-size: 26px;
    font-weight: normal !important;
    text-align: start;
    width: 100%;
    line-height: 32px;

}

.BlockStyle p .descricao-pdp-esq {
    float: left;
    max-width: 708px;
    padding-right: 15px;
    /* direction: rtl; */
    text-align: left;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;

}
.descricao-pdp-esq, .descricao-pdp-dir{
    margin: 0px 0px !important;
}


.BlockStyle .descricao-pdp-dir .BlockStyle:nth-child(odd) div:not(.descricao-pdp-esq) {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.BlockStyle:nth-child(even) div:not() {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.HorizontalBanner {
    flex-direction: column;
}

.Default-Data {
    margin: 10px 0px;
}

.BlockStyle .Default-Data h2 {
    color: #009fc2 !important;
    font-size: 26px;
    font-weight: normal !important;
    text-align: start;
    width: 100%;
    line-height: 24px;
    padding-left: 0px !important; 
    margin-bottom: 10px !important;
}

/* .descricao-pdp-dir img {
    max-width: 325px !important;
    margin-right: 25px !important;
    border-radius: 20px !important;
} */

.Default-Data span {
    width: 100%;
    color: #555;
    font-size: 17px !important;
    font-family: Helvetica;
    font-weight: normal;
    margin-top: 10px;
    white-space: break-spaces;
    line-height: 23px;
    padding-top: 15px;
}


.Default-Data {
    justify-content: flex-start;

}

.BlockStyle table {
    width: 100%;
}

.TableHeader {
    width: 100%;
}

.TableContentBox {
    display: grid;
    grid-template-columns: 4fr 1fr 4fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: ". . .";
}

.TableContentBox td div {
    text-align: start;
    justify-content: center !important;
    align-items: center !important;
    display: flex;
    flex-direction: column;
}

.tableCenter {
    margin-top: 25px;
    align-items: center;
    justify-content: center;
}

.TableContentBox td {
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.TableContentBox td img {
    min-width: 100px;
    max-width: 100px;
}

.TableContentBox td div h3 {
    color: #009fc2;
}

.DescBox h2 {
    color: #009fc2 !important;
    font-size: 26px;
    font-weight: normal !important;
    text-align: start;
    width: 100%;
}

.descricao-pdp-esq h2,
.descricao-pdp-full-check h2 {
    color: #009fc2 !important;
    font-size: 26px;
    font-weight: normal !important;
    text-align: start;
    width: 100%;

}

.descricao-pdp-full-check h2 {
    text-align: center;
}

.descricao-pdp-esq,
.descricao-pdp-full-check {
    color: #727273;
    line-height: 24px;
    /* padding: 1rem !important; */
    margin-top: 30px;
}

.TableContentBox td div h3,
.TableContentBox td div p {
    margin: 0px 0;
    padding: 0;
    font-size: unset;
}

.BlockStyle p .descricao-pdp-dir {
    color: #727273;
    line-height: 24px;
    padding: 1rem;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.BlockStyle p .descricao-pdp-dir h2 {
    color: #009fc2 !important;
    font-size: 26px;
    font-weight: normal !important;
    width: 100%;
    text-align: left;
    margin: 0px !important;
    margin-top: 10px !important;
}

.BlockStyle p .descricao-pdp-dir h3 {
    direction: ltr;
}

.BlockStyle p .descricao-pdp-esq h3 {
    direction: ltr;
}

.DescBox {
    color: #727273;
    line-height: 24px;
    /* padding: 1rem !important; */
    margin:30px auto;
    white-space: break-spaces;
}

p.MobileStyle{
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}

iframe {
    margin: auto;
    display: block;
    border-radius: 25px;
}

.BlockStyle p .descricao-pdp-dir {
    float: right;
    max-width: 708px;
    /* direction: rtl; */
    text-align: left;
}

.TableContentBox td div p {
    width: 100%;
    text-align: center;
    font-size: unset;
    padding-top: 0px !important;
    
}



.TableContentBox td div h3 {
    text-align: center;
    font-size: unset;
}
/* .BlockStyle img{
    margin: 30px;
} */
.descricao-pdp-full-check h4{
    color: #009fc2;
}

.Descricao--Inline{
    text-decoration: none;
    color: #727273;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
}
.Descricao--Inline p {
    margin: 0px;
}
@media screen and (max-width:768px) {
    .BuyTogether__Container__Row__Desc h3 {
        font-size: 13px;
        text-align: center;
    }

    .BuyTogether__Container__Row__Desc p {
        font-size: 18px !important;
    }

    .BuyTogether__Container:nth-child(odd) {
        margin-right: 0px !important;
    }

    .BuyTogether__Container__Row__Buy>p {
        font-size: 32px !important;
    }

    .BuyTogether__Container__BuyButton {
        font-size: 12px !important;
    }

    .CustomDescData iframe {
        margin: 25px auto;
        width: 100%;
        height: 350px;
    }

    .BuyTogether__Container__Row__Container {
        flex-direction: column !important;
    }

    .BuyTogether__Container__Row__Buy {
        flex-direction: column !important;
    }

    .BuyTogether__Container:nth-child(odd) {
        margin-bottom: 55px;
    }

    .BuyTogether__Container:nth-child(odd)::after {
        top: 100% !important;
        left: calc(50% - 33px) !important;
    }

    .BlockStyle p .descricao-pdp-dir {
        float: right;
        max-width: 708px;
        padding-right: unset !important;
        padding: unset !important;
        /* direction: rtl; */
        text-align: left;
    }
    .BlockStyle{
        flex-direction: column-reverse;

    }
    .BlockStyle:nth-child(odd){
        flex-direction: column;
    }

    .BlockStyle img{
        width: 263px !important;
        margin: 0px;
        max-width: unset !important;
    }
    .TableContentBox td img{
        width: 100px !important;
        margin: 0px;
        max-width: 100px;
    }
    .HorizontalBanner img {
        width: 100% !important;
    }
    .TableContentBox td div h3{
        font-size: 12px;
    }
    .TableContentBox td{
        height: 313px !important;
    }
    .BlockStyle div{
        margin: 0px !important;
        max-height: unset;
        overflow: unset;
    }
    .TableContentBox td div p{
        font-size: 14px;
        line-height: 14px;
    }
    .Default-prop{
        align-items: flex-start;
    }
    .MobileStyle{
        overflow: visible !important;
        height: fit-content !important;
        max-height: unset !important;
    }
    .BlockStyle:nth-child(even) .MobileStyle{
        flex-direction: column-reverse;
    }
    .BlockStyle:nth-child(odd) .MobileStyle{
        flex-direction: column;
    }
    .BlockStyle .MobileStyle .descricao-pdp-full{
        flex-direction: column-reverse;
    }
    .descricao-pdp-full-check{
        margin-top: 0px;
    }
    /* .descricao-pdp-full-check:first-child{

    } */
    .descricao-pdp-full-check img{
        margin-top: 0px !important;
    }
}