:global(.vtex-CheckBeneficiosProduct--block h2) {
    font-family: Signika;
    text-transform: uppercase;
    color: #009fc2;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    text-align: flex-start;
}

:global(.vtex-CheckBeneficiosProduct--block ul) {
    list-style: none;
    padding: 0;
}

:global(.vtex-CheckBeneficiosProduct--block li) {
    color: #727273;
    line-height: 24px;
    font-size: 14px;
    white-space: break-spaces;
    font-family: 'Signika';
    font-weight: 600;
}

@media screen and (max-width:768px) {
    :global(.vtex-CheckBeneficiosProduct--wrapper) {
        padding-bottom: 15px;
    }
}

@media screen and (min-width: 1024px) { 
    :global(.vtex-CheckBeneficiosProduct--wrapper) {
        padding-left: 0rem;
        padding-right: 0rem;
    }
}

:global(.vtex-CheckBeneficiosProduct--list) {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

:global(.vtex-CheckBeneficiosProduct--item) {
    display: flex;
    align-items: flex-start;
}

:global(.vtex-CheckBeneficiosProduct--item p) {
    margin: 0;
}
